
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f2f2f2;
    font-family: Arial;
}

.calculator {
    background: rgb(2, 1, 1);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 350px;
    box-shadow: 0 0 10px gray;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 22px;
    text-align: right;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    transition:0.3s;
}

.clear {
    grid-column: span 2;
    background: rgb(138, 105, 178);
    color: white;
}
.deleteLast {
    grid-column:span 2;
    background:rgb(138, 105, 178);
    color:white;
}
button:hover {
    background-color: rgb(214, 185, 15);
    color: black;
    transform: scale(1.1);
    transition: 0.3s;
    box-shadow: 0 0 15px rgb(179, 153, 3);
}